<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.MonsterMapper">
  <resultMap id="BaseResultMap" type="com.oracle.web.bean.Monster">
    <id column="MONSTER_ID" jdbcType="INTEGER" property="monsterId" />
    <result column="MNAME" jdbcType="VARCHAR" property="mname" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="ENTRYDAY" jdbcType="DATE" property="entryday" />
    <result column="SCHOOL_FK" jdbcType="INTEGER" property="schoolFk" />
  </resultMap>
  
  <resultMap type="SubMonster" id="SubMonsterResultMap">
    <id column="MONSTER_ID" jdbcType="INTEGER" property="monsterId" />
    <result column="MNAME" jdbcType="VARCHAR" property="mname" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="ENTRYDAY" jdbcType="DATE" property="entryday" />
    <association property="school" javaType="School" column="SCHOOL_FK" select="com.oracle.mapper.SchoolMapper.selectByPrimaryKey"></association>
  </resultMap>
  
  <resultMap type="SubMonster" id="SubMonsterResultMap2">
    <id column="MONSTER_ID" jdbcType="INTEGER" property="monsterId" />
    <result column="MNAME" jdbcType="VARCHAR" property="mname" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="ENTRYDAY" jdbcType="DATE" property="entryday" />
    <association property="school" javaType="School">
      <id property="schoolId" column="school_id"/>
      <result property="sname" column="sname"/>
    </association>
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 23 11:33:34 CST 2019.
    -->
    delete from monster
    where MONSTER_ID = #{monsterId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oracle.web.bean.Monster">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 23 11:33:34 CST 2019.
    -->
    insert into monster (MONSTER_ID, MNAME, EMAIL, 
      BIRTHDAY, ENTRYDAY, SCHOOL_FK
      )
    values (#{monsterId,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{entryday,jdbcType=DATE}, #{schoolFk,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.oracle.web.bean.Monster">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 23 11:33:34 CST 2019.
    -->
    update monster
    set MNAME = #{mname,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=DATE},
      ENTRYDAY = #{entryday,jdbcType=DATE},
      SCHOOL_FK = #{schoolFk,jdbcType=INTEGER}
    where MONSTER_ID = #{monsterId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="SubMonsterResultMap2">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 23 11:33:34 CST 2019.
    -->
    select MONSTER_ID, MNAME, EMAIL, BIRTHDAY, ENTRYDAY, SCHOOL_FK
    from monster
    where MONSTER_ID = #{monsterId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="SubMonsterResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 23 11:33:34 CST 2019.
    -->
    select MONSTER_ID, MNAME, EMAIL, BIRTHDAY, ENTRYDAY, SCHOOL_FK
    from monster
  </select>
  
  <select id="selectAllWithOneSQL" resultMap="SubMonsterResultMap2">
    select * from monster,school where monster.school_fk=school.school_id
  </select>
  
  <!--<select id="selectFY" resultMap="SubMonsterResultMap2">
    select * from monster,school where monster.school_fk=school.school_id
  </select>-->
  
  <select id="selectFY" parameterType="int" resultMap="showPage2">
  	SELECT * FROM monster,school WHERE monster.school_fk=school.school_id ORDER BY monster.monster_Id desc limit ${value},5
  </select>
  <resultMap id="showPage2" type="com.oracle.web.bean.SubMonster">
    <id column="MONSTER_ID" jdbcType="INTEGER" property="monsterId" />
    <result column="MNAME" jdbcType="VARCHAR" property="mname" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="ENTRYDAY" jdbcType="DATE" property="entryday" />
    <result column="SCHOOL_FK" jdbcType="INTEGER" property="schoolFk" />
    <association property="school" javaType="School">
    	<id property="schoolId" column="school_id"/>
        <result property="sname" column="sname"/>
        <result property="address" column="address"/>
    </association>
  </resultMap>
  <select id="getCount" resultType="int">
  	SELECT COUNT(*) FROM Monster
  </select>
  <!-- 分页插件pagehelper -->
  <select id="showAllPagehelper" resultMap="showPage2">
  	SELECT * FROM monster,school WHERE monster.school_fk=school.school_id ORDER BY monster.monster_Id 
  </select>
</mapper>